include .codecov.yml
include check.sh
include ci.sh
include LICENSE LICENSE.MIT LICENSE.APACHE2
include README.rst
include CODE_OF_CONDUCT.md CONTRIBUTING.md
include *-requirements.in
include *-requirements.txt
include src/trio/py.typed
include src/trio/_tests/astrill-codesigning-cert.cer
recursive-include src/trio/_tests/test_ssl_certs *.pem
recursive-include docs *
recursive-include tests *
prune docs/build
