[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yapf = "==0.22.0"

[dev-packages]
pylint = "*"
yapf = "==0.22.0"
pytest = ">=3.3"
pytest-cov = "*"
ipython = "*"
trustme = "*"
pytest-faulthandler = "*"
pyOpenSSL = "*"
trio = {editable = true, path = "."}
jedi = "*"

[requires]
python_version = "3.7"
