[tool.black]
target-version = ['py38']

[tool.codespell]
ignore-words-list = 'astroid,crasher,asend'

[tool.flake8]
extend-ignore = ['D', 'E', 'W', 'F403', 'F405', 'F821', 'F822']
per-file-ignores = [
  'trio/__init__.py: F401',
  'trio/_core/__init__.py: F401',
  'trio/_core/_tests/test_multierror_scripts/*: F401',
  'trio/abc.py: F401',
  'trio/lowlevel.py: F401',
  'trio/socket.py: F401',
  'trio/testing/__init__.py: F401'
]

[tool.isort]
combine_as_imports = true
profile = "black"
skip_gitignore = true

[tool.mypy]
python_version = "3.8"

# Be flexible about dependencies that don't have stubs yet (like pytest)
ignore_missing_imports = true

# Be strict about use of Mypy
warn_unused_ignores = true
warn_unused_configs = true
warn_redundant_casts = true
warn_return_any = true

# Avoid subtle backsliding
#disallow_any_decorated = true
#disallow_incomplete_defs = true
#disallow_subclassing_any = true

# Enable gradually / for new modules
check_untyped_defs = false
disallow_untyped_calls = false
disallow_untyped_defs = false

# DO NOT use `ignore_errors`; it doesn't apply
# downstream and users have to deal with them.
[[tool.mypy.overrides]]
# Fully typed, enable stricter checks
module = [
    "trio._abc",
    "trio._core._entry_queue",
    "trio._core._generated_io_epoll",
    "trio._core._generated_io_kqueue",
    "trio._core._io_epoll",
    "trio._core._io_kqueue",
    "trio._core._local",
    "trio._core._unbounded_queue",
    "trio._deprecate",
    "trio._dtls",
    "trio._file_io",
    "trio._highlevel_open_tcp_stream.py",
    "trio._ki",
    "trio._socket",
    "trio._sync",
    "trio._tools.gen_exports",
    "trio._util",
]
disallow_incomplete_defs = true
disallow_untyped_defs = true
disallow_untyped_decorators = true
disallow_any_generics = true
disallow_any_decorated = true
disallow_any_unimported = true
disallow_subclassing_any = true

[[tool.mypy.overrides]]
# Needs to use Any due to some complex introspection.
module = [
    "trio._path",
]
disallow_incomplete_defs = true
disallow_untyped_defs = true
#disallow_any_generics = true
#disallow_any_decorated = true
disallow_any_unimported = true
disallow_subclassing_any = true

[tool.pytest.ini_options]
addopts = ["--strict-markers", "--strict-config"]
faulthandler_timeout = 60
filterwarnings = [
  "error",
  # https://gitter.im/python-trio/general?at=63bb8d0740557a3d5c688d67
  'ignore:You are using cryptography on a 32-bit Python on a 64-bit Windows Operating System. Cryptography will be significantly faster if you switch to using a 64-bit Python.:UserWarning',
  # this should remain until https://github.com/pytest-dev/pytest/pull/10894 is merged
  'ignore:ast.Str is deprecated:DeprecationWarning',
  'ignore:Attribute s is deprecated and will be removed:DeprecationWarning',
  'ignore:ast.NameConstant is deprecated:DeprecationWarning',
  'ignore:ast.Num is deprecated:DeprecationWarning',
  # https://github.com/python/mypy/issues/15330
  'ignore:ast.Ellipsis is deprecated:DeprecationWarning',
  'ignore:ast.Bytes is deprecated:DeprecationWarning'
]
junit_family = "xunit2"
markers = ["redistributors_should_skip: tests that should be skipped by downstream redistributors"]
xfail_strict = true

[tool.towncrier]
directory = "newsfragments"
filename = "docs/source/history.rst"
issue_format = "`#{issue} <https://github.com/python-trio/trio/issues/{issue}>`__"
# Usage:
# - PRs should drop a file like "issuenumber.feature" in newsfragments
# (or "bugfix", "doc", "removal", "misc"; misc gets no text, we can
# customize this)
# - At release time after bumping version number, run: towncrier
# (or towncrier --draft)
package = "trio"
underlines = ["-", "~", "^"]

[[tool.towncrier.type]]
directory = "headline"
name = "Headline features"
showcontent = true

[[tool.towncrier.type]]
directory = "breaking"
name = "Breaking changes"
showcontent = true

[[tool.towncrier.type]]
directory = "feature"
name = "Features"
showcontent = true

[[tool.towncrier.type]]
directory = "bugfix"
name = "Bugfixes"
showcontent = true

[[tool.towncrier.type]]
directory = "doc"
name = "Improved documentation"
showcontent = true

[[tool.towncrier.type]]
directory = "deprecated"
name = "Deprecations and removals"
showcontent = true

[[tool.towncrier.type]]
directory = "misc"
name = "Miscellaneous internal changes"
showcontent = true
