pytest == 3.7.4  # for catchlog fixture
pytest-cov >= 2.6.0
ipython        # for the IPython traceback integration tests
pyOpenSSL      # for the ssl tests
trustme        # for the ssl tests
pytest-faulthandler
