# For tests
pytest >= 5.0         # for faulthandler in core
pytest-cov >= 2.6.0
# ipython 7.x is the last major version supporting Python 3.7
ipython ~= 7.33       # for the IPython traceback integration tests
pyOpenSSL             # for the ssl tests
trustme               # for the ssl tests
pylint                # for pylint finding all symbols tests
jedi                  # for jedi code completion tests
cryptography>=36.0.0  # 35.0.0 is transitive but fails

# Tools
black; implementation_name == "cpython"
mypy; implementation_name == "cpython"
flake8
astor          # code generation

# https://github.com/python-trio/trio/pull/654#issuecomment-420518745
# typed_ast is deprecated as of 3.8, and straight up doesn't compile on 3.10-dev as of 2021-12-13
typed_ast; implementation_name == "cpython" and python_version < "3.8"
mypy-extensions; implementation_name == "cpython"
typing-extensions; implementation_name == "cpython"

# Trio's own dependencies
cffi; os_name == "nt"
attrs >= 19.2.0
sortedcontainers
async_generator >= 1.9
idna
outcome
sniffio
