# For tests
pytest >= 5.0  # for faulthandler in core
pytest-cov >= 2.6.0
ipython        # for the IPython traceback integration tests
pyOpenSSL      # for the ssl tests
trustme        # for the ssl tests
pylint         # for pylint finding all symbols tests
jedi           # for jedi code completion tests

# Tools
black; implementation_name == "cpython"
flake8
astor          # code generation

# https://github.com/python-trio/trio/pull/654#issuecomment-420518745
typed_ast; implementation_name == "cpython"

# Trio's own dependencies
cffi; os_name == "nt"
contextvars; python_version < "3.7"
attrs >= 19.2.0
sortedcontainers
async_generator >= 1.9
idna
outcome
sniffio

# Required by contextvars, but harmless to install everywhere.
# dependabot drops the contextvars dependency because it runs
# on 3.7.
immutables >= 0.6
