# For tests
pytest >= 5.0         # for faulthandler in core
coverage >= 7.2.5
async_generator >= 1.9
pyright
pyOpenSSL >= 22.0.0   # for the ssl + DTLS tests
trustme               # for the ssl + DTLS tests
pylint                # for pylint finding all symbols tests
jedi                  # for jedi code completion tests
cryptography>=41.0.0  # cryptography<41 segfaults on pypy3.10

# Tools
black; implementation_name == "cpython"
mypy; implementation_name == "cpython"
types-pyOpenSSL; implementation_name == "cpython" # and annotations
ruff >= 0.4.3
astor          # code generation
uv >= 0.2.22
codespell

# https://github.com/python-trio/trio/pull/654#issuecomment-420518745
mypy-extensions; implementation_name == "cpython"
typing-extensions
types-cffi; implementation_name == "cpython"
# annotations in doc files
types-docutils
sphinx

# Trio's own dependencies
cffi; os_name == "nt"
attrs >= 23.2.0
sortedcontainers
idna
outcome
sniffio
# 1.2.1 fixes types
exceptiongroup >= 1.2.1; python_version < "3.11"
