name: Check newsfragment

permissions: {}

on:
  pull_request:
    types: [labeled, unlabeled, opened, synchronize]
    branches:
    - main

jobs:
  check-newsfragment:
    if: ${{ !contains(github.event.pull_request.labels.*.name, 'skip newsfragment') }}
    runs-on: 'ubuntu-latest'

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Check newsfragments
        run: |
          if git diff --name-only origin/main | grep -v '/_tests/' | grep 'src/trio/'; then
            git diff --name-only origin/main | grep 'newsfragments/' || exit 1
          fi
