name: CI

on:
  push:

jobs:
  Windows:
    name: 'Windows (${{ matrix.python }})'
    timeout-minutes: 20
    runs-on: 'windows-latest'
    strategy:
      fail-fast: false
      matrix:
        python: ['pypy-3.10']
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup python
        uses: actions/setup-python@v5
        with:
          # This allows the matrix to specify just the major.minor version while still
          # expanding it to get the latest patch version including alpha releases.
          # This avoids the need to update for each new alpha, beta, release candidate,
          # and then finally an actual release version.  actions/setup-python doesn't
          # support this for PyPy presently so we get no help there.
          #
          # 'CPython' -> '3.9.0-alpha - 3.9.X'
          # 'PyPy'    -> 'pypy-3.9'
          python-version: ${{ fromJSON(format('["{0}", "{1}"]', format('{0}.0-alpha - {0}.X', matrix.python), matrix.python))[startsWith(matrix.python, 'pypy')] }}
          cache: pip
          cache-dependency-path: test-requirements.txt
      - run: ls -la c:/users/runneradmin/appdata/local/pip/cache/http-v2/a/d/e/e/f/adeef5b9611702687bbddade5f7c0af65110caf98ba1a0070c9d116e*
        shell: bash
      - run: sed -i 's/ETag存"[^"]+"足/ETag存"PCaLiMeCwLhKktEGy\/zhWg"足/' c:/users/runneradmin/appdata/local/pip/cache/http-v2/a/d/e/e/f/adeef5b9611702687bbddade5f7c0af65110caf98ba1a0070c9d116e
        shell: bash
      - name: Run tests
        run: pip install uv -c test-requirements.txt
        shell: bash
      - name: Run tests 2
        run: pip install uv -c test-requirements.txt
        shell: bash
      - run: ls -la c:/users/runneradmin/appdata/local/pip/cache/http-v2/a/d/e/e/f/adeef5b9611702687bbddade5f7c0af65110caf98ba1a0070c9d116e*
        shell: bash
      - name: prevent setup-python caching
        run: exit 1
