on:
  push:
    tags:
      - v*

permissions: {}

# a lot of code taken from https://github.com/pypa/cibuildwheel/blob/main/examples/github-deploy.yml
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - run: python -m pip install build
      - run: python -m build

      - uses: actions/upload-artifact@v4
        with:
          name: trio-dist
          path: |
            dist/*.tar.gz
            dist/*.whl

  pypi-publish:
    needs: [build]
    name: upload release to PyPI
    runs-on: ubuntu-latest
    environment:
      name: release
      url: https://pypi.org/project/trio
    permissions:
      id-token: write

    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: trio-*
          path: dist
          merge-multiple: true

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
